<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ACME Megacorp Map{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{asset('assets/css/app.css')}}">
            <link rel="stylesheet" type="text/css" href="{{asset('assets/dist/Mapbox.css')}}">
        {% endblock %}
    </head>
    <body>  
        {% block body %} 
        <div id='hidden' >{{APP_MAPBOX_KEY}}</div>
        <header class='map-header'>
            <div class='right'>
                <a href="/logout" class="button">Logout</a> 
                    {% if is_granted('ROLE_ADMIN') == true %}
                            <a href="/_secret_backend" class="button admin">Back Office</a> 
                    {% endif %}
            </div>
        </header>
            <div id='map'></div>
        {% endblock %} 
        
        {% block javascripts %}
          <script src='{{asset('assets/dist/Mapbox.js')}}'></script>
          <script src='{{asset('assets/js/app.js')}}'></script>
          <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js'></script>
        {% endblock %}
    </body>
</html>